body {
  width: 100%;
  background-color: #282c34;
}

h3, p {
  color:fuchsia;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #444b58;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}

.header-right, .header-left {
  display: flex;
  flex-direction: row;
}

.header-left *, .header-right *
{
  margin-left: .25em;
  margin-right: .25em;
}
.header-left *:hover, .header-right *:hover {
  text-shadow: 3px 2px 1px black;
  cursor: pointer;
}

.header-left :first-child {
  margin-left: .5em;
}

.header-right :last-child {
  margin-right: .5em;
}

.App-header span {
  font-size: x-small;
  margin: 0 !important;
  vertical-align: 60%;
}

/* Gallery */
#gallery-container img {
  max-width: 14em;
  max-height: 14em;
}
.photo-container {
  margin: 1em auto;
  padding: 1em;
  width: max-content;
  border: 1px solid white;
}
.photo-container a {
  color: violet;
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-48 { font-size: 48px; }